*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    transition: background-color .5s ease;
    z-index: 1000;
}

.container {
    max-width: 120rem;
    padding: 0 1.75rem;
}

.mt-10 {
    margin-top: 10rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

/* =============================================== */

/* bg colours */

.bg-orange {
    background-color: orange !important;
}
.bg-yellow {
    background-color: yellow !important;
}
.bg-aqua {
    background-color: aqua;
}

.bg-gray {
    background-color: rgb(238, 238, 238);
}

/* =============================================== */

/* main nav */

nav {
    height: 10rem;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav-link {
    position: relative;
    margin: 0 2rem;
}

/* Change nav bg-color to white and change the height of navbar */

.scrolling-active {
    background-color: #ffffff!important;
    transition: none;
}

.scrolling-active .nav {
    height: 6.6rem;
}

.scrolling-active .easy2c {
    background-color: #ffffffdd;
}

/* main nav text */
.nav a {
    text-decoration: none;
    color: #ffffff!important;
    font-size: 1.6rem;
}

.scrolling-active .nav a {
    color: #313131!important;
}

/* main nav logo icons */

.fa-home {
    margin-left: 1rem;   
}

.nav .fa {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
}

.nav .fa:hover{
    color: #b1b1b1;
}

.scrolling-active .fa {
    color: #313131;
}

.scrolling-active .fa:hover {
    color: #b1b1b1;
}

/* main nav underline */

.scrolling-active .nav-link::after {
    background-color: #313131!important;
}

.nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

/* toggler square border */

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #ffffff77;
}

.scrolling-active .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #313131;
}

/* =============================================== */

/* Hero */
.hero {
    height: 100vh;
    background: url(../img/seagull.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

#about-page .hero, #project-page .hero, #contact-page .hero, #process-page .hero {
    height: 30vh;
    background: url(../img/niagara.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

#about-page #intro, #project-page #intro, #contact-page #intro, #process-page #intro {
    transform: translate(-50%, -50%);
}


/* hero text */

#intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    width: 100%;

    color: #000000;
    font-size: 100px;
}

#lead-down {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

#lead-down h3 {
    margin: 0;
    padding: 0;
}

#lead-down i{
    font-size: 5.5rem;
    font-weight: bold;
    color: #313131;
    margin: 0;
    padding: 0;
}

.bounce {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* =============================================== */

/* about me content  */

.left {
    text-align: left!important;
    font-size: 20px;
}

.left h1 {
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 55px;
}

.left p {
    line-height: 200%;
}

#profile {
    width: 100%;
}

/* =============================================== */

/* project section  */

.card-img-top {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

/* =============================================== */

/* Contact me  */

.logo {
    font-size: 35px;
    color: gray;
    -webkit-transition: color .19s linear;
    -o-transition: color .19s linear;
    transition: color .19s linear; 
}

.logo:hover {
    color: black;
}

#contact div {
    color: #858585;
}

/* =============================================== */

/* Footer */

#footer {
    padding: 43px 0;
    background-color: #494949;
}

#footer p {
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: none;
}


/* =============================================== */

/* contact form */

.form-control {
    height: 50px;
}

/* =============================================== */

/* Carousel */

.carousel-caption {
    background-color: #00000066;
}

/* ================================================= */

/* Modal */
.modal-lg {
    max-width: 900px;
}